# Gmail SMTP backend
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
SMTP_PASS=pass

MAIL_FROM=from@gmail.com
MAIL_TO=to@gmail.com

FAST_TEST=false
MAX_PER_TOPIC=3
RUN_TIME=07:30
TIMEZONE=America/Los_Angeles
